<template>
  <div id="app" class="app">
    <div class="header">
      <div class = "logo">
        <img src = ./assets/logo.svg>
      </div>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome">Inicio</button>
        <button v-if="is_auth" v-on:click="loadReserve">Reservar</button>
        <button v-if="is_auth" v-on:click="loadReservas">Reservas</button>
        <button v-if="is_auth" v-on:click="logOut">Cerrar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>

      </nav>
    </div>

    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
        v-on:completedReserve="completedReserve"
        v-on:completedLoadData="completedLoadData"
      >
      </router-view>
    </div>

    <div class="footer">
      <h2>Equipo 5 - P50 - MisiónTIC2022</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data: function() {
    return {
      is_auth: false,
    };
  },
  components: {},
  methods: {
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "home" });
    },

    loadLogIn: function() {
      this.$router.push({ name: "logIn" });
    },

    loadSignUp: function() {
      this.$router.push({ name: "signUp" });
    },

    loadReserve: function() {
      this.$router.push({ name: "reserve" });
    },

    loadReservas: function(){
      this.$router.push({ name: "adminReservas" });
    },

    completedLoadData: function (data) {
      localStorage.setItem("nombres", data.nombres);
      localStorage.setItem("apellidos", data.apellidos);
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.idUsuarios);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.verifyAuth();
    },
    completedSignUp: function(data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },

    completedReserve: function(){
      alert("Reserva Exitosa")
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    
    logOut: function() {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },
  },
  created: function() {
      this.verifyAuth();
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

*{
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0 0 0 0;
}

.header {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #05a678;
  color: #e5e7e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid #283747;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin: 10px 20px;
}

.logo img {
  height: 12rem;
  width: 12rem;
}

.logo h1 {
  width: 20%;
  text-align: center;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0px solid #283747;
}

.header nav button {
  color: #05a678;
  background: #FFFFFF;
  border: 0px solid #e5e7e9;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
}

.header nav button:hover {
  color: #05a678;
  background: #e5e7e9;
}

.main-component {
  height: fit-content;
  min-height: 80vh;
  margin: 0%;
  padding: 0%;
  background: #fdfefe;
  border: 0px solid #283747;
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #0a2a14;
  color: #e5e7e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #FF2850;
}
.footer h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
