<template>
  <div class="margin">
  <div class="reservas">
    <h2>Reservas de {{ nombres }} {{ apellidos }}</h2>
    <div class="container_reservas">
      <table class="tablaReservas">
        <thead>
          <tr>
            <th>SEDE</th>
            <th>FECHA</th>
            <th>HORARIO</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="reserva in reservas">
            <td>{{ reserva.sede }}</td>
            <td>{{ reserva.fecha }}</td>
            <td>{{ reserva.horaInicio }} - {{ reserva.horaFin }}</td>
            <td>
              <button class="botonCancelarReserva" type="button" v-on:click="cancelReserva(reserva.idReserva)">
                Cancelar Reserva
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "AdminReservas",

  data: function() {
    return {
      nombres: "",
      datosCancelarReserva: {
        dni: "",
        idReservas: "",
      },
      
      reservas: [],
    };
  },

  methods: {
    loadReservas: async function() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(
          `https://misionfit--be.herokuapp.com/Reservas/Usuario/${userId}/`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          //Se limpia reservas para poder traer la nueva informacion de reservas y actualizar
          this.reservas = [];
          this.reservas.length = 0;

          for (let i = 0; i < result.data.length; i++) {
            let obj = {
              idReserva: result.data[i]["ID"],
              sede: result.data[i]["Sede"]["Nombre"],
              fecha: result.data[i]["Tiempo"]["Fecha"],
              horaInicio: result.data[i]["Tiempo"]["Hora inicio"],
              horaFin: result.data[i]["Tiempo"]["Hora fin"],
            };
            this.reservas.push(obj);
          }
        })
        .catch((error) => {
          alert("ERROR: Fallo al cargar las reservas");
        });
    },

    getData: async function () {
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
        this.$emit('logOut');
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios.get(`https://misionfit--be.herokuapp.com/Usuario/${userId}`,
        {
          headers: {'Authorization': `Bearer ${token}`}
        })
          .then((result) => {
            this.nombres = result.data.informacion_usuarios.nombres;
            this.apellidos = result.data.informacion_usuarios.apellidos;
            this.datosCancelarReserva.dni = result.data.idUsuarios;
          })
          .catch((error) => {
            alert(error)
            this.$emit('logOut');
          });
    },

    cancelReserva: async function(idReserva){
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      this.datosCancelarReserva.idReservas = idReserva;


      axios.delete(
          'https://misionfit--be.herokuapp.com/CrearBorrarReserva/',
          {
            data: this.datosCancelarReserva,
            headers: { Authorization: `Bearer ${token}` }
          },
        )
        .then((result) => {
            this.datosCancelarReserva.idReservas = 0;
            //vovemos a cargar los datos de la tabla para que desaparezca el registro
            this.loadReservas()

            alert("¡La reserva fue cancelada y su cupo fue liberado exitosamente!");
        })
        .catch((error) => {
          alert(error)
          alert("ERROR: Fallo al cancelar la reserva");
        });
    },

    verifyToken: function() {
      return axios
        .post(
          "https://misionfit--be.herokuapp.com/refresh/",
          {
            refresh: localStorage.getItem("token_refresh"),
          },
          {
            headers: {},
          }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },

  created: async function() {
    this.getData();
    this.loadReservas();
  },
};
</script>

<style>

.margin {
  border: 0px solid #283747;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reservas h2{
  border: 0px solid #283747;
}

.reservas{
  width: fixed;
  border: 0px solid #283747;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.reservaInfo {
  width: 50%;
  height: 50px;
  background: blue;
}

.container_reservas{
  border: 0px solid #283747;
  margin: 50px auto;
  width: 600px;
}

.tablaReservas {
  border: 0px solid #283747;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}

.tablaReservas th, td {
  border: solid 1px black;
  padding: 5px;
}

.botonCancelarReserva{
  font-size: 16px;
  font-weight: 400;
}
</style>
