<template>
  <div class="greetings">
    <h1>
      ¡Bienvenido <span> {{ nombres }} {{ apellidos }} </span>!
    </h1>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "Home",

  data: function() {
    return {
      nombres: "",
      apellidos: "",
    };
  },

  methods:{

      getData: async function () {
        
        if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
          this.$emit('logOut');
          return;
        }

        await this.verifyToken();

        let token = localStorage.getItem("token_access");
        let userId = jwt_decode(token).user_id.toString();

        axios.get(`https://misionfit--be.herokuapp.com/Usuario/${userId}`,
          {
            headers: {'Authorization': `Bearer ${token}`}
          })
            .then((result) => {
              let data = {
                nombres: result.data.informacion_usuarios.nombres,
                apellidos: result.data.informacion_usuarios.apellidos,
              };

              this.nombres = result.data.informacion_usuarios.nombres;
              this.apellidos = result.data.informacion_usuarios.apellidos;

              this.$emit("completedLoadData", data);
            })
            .catch((error) => {
              alert(error)
              this.$emit('logOut');
            });
    },

    verifyToken: function () {
      return axios.post("https://misionfit--be.herokuapp.com/refresh/",
      {
        refresh: localStorage.getItem("token_refresh")},
        {
          headers: {}
        })
          .then((result) => {
            localStorage.setItem("token_access", result.data.access);
          })
          .catch(() => {
            this.$emit('logOut');
          });
        },
      },
      
      created: async function(){
        this.getData();
      },
};
</script>

<style>
.greetings {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.greetings h1 {
  font-size: 50px;
  color: #283747;
}
.greetings span {
  color: crimson;
  font-weight: bold;
}
</style>
