<template>
  <div class="logIn_user">
    <div class="container_logIn_user">
      <form v-on:submit.prevent = "processLogInUser">
        <img src = ../assets/LogoMisionFit.svg>
        <input type="text" v-model="user.idUsuarios" placeholder="Username" />
        <input type="password" v-model="user.password" placeholder="Password" />
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LogIn",

  data: function() {
    return {
      user: {
        idUsuarios: "",
        password: "",
      },
    };
  },

  methods: {
    processLogInUser: function() {
      axios.post("https://misionfit--be.herokuapp.com/login/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataLogIn = {
            idUsuarios: this.user.idUsuarios,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
  },
};
</script>

<style>

img {
  height: 25rem;
  width: 25rem;
  margin: 3%;
}
.logIn_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #283747;
}
.container_logIn_user {
  height: 80%;
  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid #283747;
}

.logIn_user form {
  height: 100%;
  width: 100%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid #283747;
}

.logIn_user input {
  height: 40px;
  width: 60%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #283747;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 300;
}
.logIn_user button {
  width: fit-content;
  height: 40px;
  color: #e5e7e9;
  background: #0a2a14;
  border: 0px solid #0a2a14;
  border-radius: 7px;
  padding: 10px 10px;
  margin-bottom: 3%;
  margin-top: 2%;
  font-size: 16px;
  font-weight: 400;
}
.logIn_user button:hover {
  background: #05A678;
  border: 0px solid #0A2A14;
}
</style>
