<template>
  <div class="reserve_margin">
  <div class="reserve">
    <h2>{{ nombres }} {{ apellidos }}</h2>
    <div class="container_reserve">
      <form v-on:submit.prevent="processReserve">
        <label for="sedes">Seleciona una sede:</label>
        <select name="sedes" id="sedes" v-model = "reserva.idSede" @change = "onChangeSedes($event)">
          <option value = 1 >Sede norte</option>
          <option value = 2 >Sede centro</option>
        </select>
        <br />
        <input style="font-size: 16px" 
          type="date"
          v-model="reserva.fecha"
          placeholder="Fecha"
          min = "2021-11-01"
          max = "2021-11-30"
          v-if = "banderas.fecha"
          @change = "onChangeFecha($event)"
        />
        <br />
        <select name="horarios" v-model = "reserva.idHorario" v-if = "banderas.horario" @change = "onChangeHorario($event)">
          <option v-for="horario in horarios" v-bind:value = "horario.idHorarios" >
            {{ horario.horaInicio }} - {{ horario.horaFin }} - [{{ horario.cuposDisponibles }} ]
          </option>
        </select>
        <br />
        <button type = "submit" v-if = "banderas.enviar" v-on:click="cleanHorarios" >Confirmar Reserva</button>
      </form>
    </div>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "Reserve",

  data: function() {
    return {
      nombres: "",
      apellidos: "",

      banderas: {
        "fecha": false,
        "horario": false,
        "enviar": false,
      },

      reserva: {
        dni: "",
        idSede: 0,
        idHorario: 0,
        fecha : "",
      },

      horarios: []
    };
  },
  methods: {
    cleanHorarios: function(){
      this.horarios = [];
    },

    onChangeSedes(){
      if(this.banderas.fecha){
        this.processLoadHorarios()
      }

      this.banderas.fecha = true;
    },

    onChangeFecha(){
      if(this.banderas.fecha){
        this.processLoadHorarios();
      }

      this.banderas.horario = true;
    },

    onChangeHorario(){
      this.banderas.enviar = true;
    },
    
    processReserve: async function() {
       if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
        this.$emit('logOut');
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      this.reserva.dni = localStorage.getItem("username") || None;

      axios.post("https://misionfit--be.herokuapp.com/CrearBorrarReserva/", this.reserva,
        {
          headers: {'Authorization': `Bearer ${token}`},
        })
        .then((result) => {
          this.$emit("completedReserve");
          this.processLoadHorarios()
        })
        .catch((error) => {
          alert(error);
          alert("ERROR: Fallo en la reserva.");
        });
    },

    processLoadHorarios() {
       axios.get("https://misionfit--be.herokuapp.com/HorariosFecha/",
        {
          headers: {},
        })
        .then((result) => {
          //Se limpia el array de horarios para introducir los nuevos consultados
          this.horarios = []
          this.horarios.length = 0
          

          for(let i = 0; i < result.data.length; i++){    
              if(result.data[i]['idHorariosSede']['idSede']['idSedes'].toString() === this.reserva.idSede){
                  if(result.data[i]['idDiasMes']['fecha'].toString() === this.reserva.fecha){

                      if(result.data[i]['cuposDisponibles'] == 0){
                        continue;
                      }

                      let obj =  {
                        idHorarios: result.data[i]['idHorariosSede']['idHorarios']['idHorarios'],
                        horaInicio: result.data[i]['idHorariosSede']['idHorarios']['horaInicio'],
                        horaFin: result.data[i]['idHorariosSede']['idHorarios']['horaFin'],
                        cuposDisponibles: result.data[i]['cuposDisponibles'],
                      }
                      
                      this.horarios.push(obj);
                  }
              }              
          }
        })
        .catch((error) => {
          alert(error);
          alert("ERROR: Fallo en la consulta");
        });
    },

    getData: async function () {
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
        this.$emit('logOut');
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios.get(`https://misionfit--be.herokuapp.com/Usuario/${userId}`,
        {
          headers: {'Authorization': `Bearer ${token}`}
        })
          .then((result) => {
            this.nombres = result.data.informacion_usuarios.nombres;
            this.apellidos = result.data.informacion_usuarios.apellidos;
          })
          .catch((error) => {
            alert(error)
            this.$emit('logOut');
          });
      
      
    },

    verifyToken: function () {
      return axios.post("https://misionfit--be.herokuapp.com/refresh/",
      {
        refresh: localStorage.getItem("token_refresh")},
        {
          headers: {}
        })
          .then((result) => {
            localStorage.setItem("token_access", result.data.access); 
          })
          .catch(() => {
            this.$emit('logOut');
          });
        }
      },

    created: async function(){
      this.getData();
    },
}
</script>

<style>

.reserve_margin{
  border: 0px solid #283747;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reserve{
  border: 0px solid #283747;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_reserve {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #283747;
}

.container_reserve form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0px solid #283747;
}

.container_reserve input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 2px solid #283747;
}

.container_reserve select {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 5px 0;
  border: 2 px solid #283747;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
}

.container_reserve button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #0a2a14;
  border: 0px solid #0a2a14;
  border-radius: 7px;
  padding: 10px 25px;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 400;
}

.container_reserve button:hover {
  background: #05A678;
  border: 0px solid #0A2A14;
}
</style>