<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Registrarse</h2>
      <form v-on:submit.prevent="processSignUp">
        <input type="text" v-model="user.idUsuarios" placeholder="Username" required/>
        <br />
        <input type="password" v-model="user.password" placeholder="Password" required/>
        <br />
        <input type="text" v-model="user.informacion_usuarios.nombres" placeholder="Nombres" required/>
        <br />
        <input type="text" v-model="user.informacion_usuarios.apellidos" placeholder = "Apellidos" required/>
        <br />
        <input type="email" v-model="user.informacion_usuarios.correo" placeholder = "Correo Electronico" required/>
        <br />
        <input type="date" v-model="user.informacion_usuarios.fechaNacimiento" placeholder = "Fecha de Nacimiento" required/>
        <br />
        <input type="text" v-model="user.informacion_usuarios.direccion" placeholder = "Direccion" required/>
        <br />
        <input type="tel" v-model="user.informacion_usuarios.telefono1" placeholder = "Telefono 1" required/>
        <br />
        <input type="tel" v-model="user.informacion_usuarios.telefono2" placeholder = "Telefono 2" required/>
        <br />
        <select id = "documentos" v-model="user.informacion_usuarios.tipoDocumento" placeholder = "Tipo documento" required>
          <option value = "CC">CC</option>
          <option value = "TI">TI</option>
          <option value = "CE">CE</option>
        </select>
        <br />
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "SignUp",
  data: function() {
    return {
      user: {
        idUsuarios: "",
        password: "",
        informacion_usuarios: {
          tipoDocumento: "",
          nombres: "",
          apellidos: "",
          fechaNacimiento: "",
          direccion: "",
          telefono1: "",
          telefono2: "",
          correo: "",
        },
      },
    };
  },
  methods: {
    processSignUp: function() {
      axios
        .post("https://misionfit--be.herokuapp.com/CrearUsuario/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataSignUp = {
            idUsuarios: this.user.idUsuarios,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          this.$emit("completedSignUp", dataSignUp);
        })
        .catch((error) => {
          alert(error);
          alert("ERROR: Fallo en el registro.");
        });
    },
  },
};
</script>

<style>
.signUp_user {
  border: 0px solid #283747;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container_signUp_user {
  border: 2px solid #283747;
  width: 25%;
  height: 100%;
  margin: 1%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp_user h2 {
  color: #0a2a14;
}
.signUp_user form {
  border: 0px solid #283747;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp_user input {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #283747;
  font-size: 16px;
  font-weight: 300;
}

.signUp_user select {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #283747;
  font-size: 16px;
  font-weight: 300;
}

.signUp_user button {
  width: fit-content;
  height: 40px;
  color: #e5e7e9;
  background: #0a2a14;
  border: 0px solid #e5e7e9;
  border-radius: 7px;
  padding: 10px 10px;
  margin-bottom: 7%;
  margin-top: 2%;
  font-size: 16px;
  font-weight: 400;
}
.signUp_user button:hover {
  background: #05A678;
  border: 0px solid #0A2A14;
}
</style>